{% extends './index.html' %}

{% block titles %}
    <div class="search">
        <form action="" class="search_form" method="post">
            {% csrf_token %}
            <label class="search_text" for="#inp">Введите фамилию имя отчество сотрудника)</label>
            <input id="#inp" type="text" placeholder="ФИО сотрудника" class="search_input" name="input_value">
            <button class="search_btn" type="submit">Отправить</button>


                <ul class="search_inf">
                    <li class="search_inf_item" >{% if p_fullname %}{{p_fullname}}{% endif %}</li>
                    <li class="search_inf_item" >{% if p_email %}{{ p_email }}{% endif %}</li>
                    <li class="search_inf_item" >{% if p_phone %}{{ p_phone }}{% endif %}</li>
                    <li class="search_inf_item" >{% if p_position %}{{ p_position }}{% endif %}</li>
                    <li class="search_inf_item" >{% if p_adress %}{{ p_adress }}{% endif %}</li>
                    <li class="search_inf_item" >{% if p_answer %}{{ p_answer }}{% endif %}</li>
                </ul>

        </form>
    </div>
{% endblock %}

