.container{
    width: 100%;
    max-width: 1170px;

    margin: 0 auto;

}

.window{
    width: 800px;
    height: 600px;

    margin: 100px auto 100px;
    border-radius: 17px;
    background-color: #4f4f4f;
}

.nav{
    display: flex;
    justify-content: left;


}

.nav-item{
    color: #ffffff;
    margin-left: 20px;
    margin-top: 20px;

    text-decoration: none;
}

.nav-item:hover{
    text-decoration: underline;
}

.title{
    color: #ffffff;
    text-align: center;

    font-size: 55px;
}
.subtitle{
    color: #ffffff;
    text-align: center;

    font-size: 35px;
}


.search{

}

.search_form{
    display: flex;
    flex-direction: column;
    text-align: center;


}

.search_text{
    color: #ffffff;
    text-align: center;

    font-size: 23px;
    margin-top: 20px;
}

.search_input{
    margin: 17px auto 11px;
    padding: 3px;
    width: 300px;
    height: 50px;

    border-radius: 7px;
    border: 0;
}

.search_btn{
    width: 130px;
    height: 20px;
    margin: 0 auto;

    background-color: black;
    color: #ffffff;
    border-radius: 7px;
    cursor: pointer;
}

.search_inf{
    color: #ffffff;
    font-size: 18px;
    display: flex;
    flex-direction: column;

    margin-top: 27px;
    justify-content: center;
}

.search_inf_item{
    margin-top: 10px;
    list-style-type: none;
}